/*Added some styling for Tittle */
h1{
  font-size: 300%;
  font-style: bold;
}
/*Added some styling for the results */
.result-cards{
  height: 300px;
  width: 300px;
}

.content{
  width: 280px;
  height: 110px;
  overflow: auto;
}