/*Added some styling for Tittle */
#headerName{
  font-size: 250%;
  float: left;
}
::-webkit-scrollbar{
  display: none;
}



.message-header{
  border-radius: 0px;
  background-color: darkblue;
}

.message-header label{
  color: white;;
}

h1{
  font-style: bold;
}
h2{
  font-style: bold;
}
.container{
margin: 0px;
display: inline;
}



.content{
  width: 280px;
  height: 110px;
  overflow: auto;
}




.movie-section-box{
  overflow-x:auto;
  border: black solid  1px;  
  background-color: rgb(255, 255, 255);
}

.is-dark{
  width: 130px;
}



.card{ 
  margin:2px;
  transition: all .2s ease-in-out;
}

.card:hover { transform: scale(1.02)}

.search-section{
  margin-bottom:2%;
}

.genreButton{
  width: 100%;
  height: 10%;
  border-radius: 0px i !important;
}

.hero{
  margin-bottom: 0;
}



#trailerModal{
  width: 100%;
  height: 40px;
}

.addMovie{
  width: 100%;
}

#reviews{
  margin-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

#watchList{
  height: 600px;
  background-color: grey;
  margin-top: 15px;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(0,212,255,1) 38%, rgba(14,214,255,1) 46%, rgba(247,254,255,1) 93%);
  -webkit-box-shadow: 5px 5px 19px -9px #000000; 
  box-shadow: 5px 5px 19px -9px #000000;
  overflow-x:auto;
}

#watchList h1{
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 15px;

}


footer{
  height: 50px;
  display: flex;
  justify-content: center;
}


.modal-content{
  width: 60%;
}

#clear-list{
  margin-bottom: 2%;
}